.container{
    padding: 10px;
    height: 100%;
    overflow: auto;
    margin: 0;
}

.error {
    text-align: center;
    margin-top: 40px;
    margin-top: 40px;
    color: #cc0000;
    font-weight: bolder;
}